.button{
    width: 320px;
    height: 80px;
    background-color: red;
    display: flex;
    outline: none;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.button span{
    margin-left: 10px;
    font-weight: bold;
}

.button img{
    width: 35px;
    height: 35px;
}

.button:hover{
    background-color: #221F1F;
    color: white;
    transition: 0.3s;
}


.primary-color{
    background-color: #F6F6F6;
}

.secondary-color{
    background-color: #F6F6F6;
}

.danger-color{
    background-color: #F6F6F6;
}



.circle-icon{
    background-color:#221F1F;
    color: white;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}